.error {
    margin-top: 150px;
    text-align: center;
}

h1 {
    font-family: 'Jost', sans-serif;
    color: rgb(55, 201, 157);
}

.error img {
    width: 500px;
}

@media(max-width: 700px)
{
    .error img {
        width: 400px;
    }
}